<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
	<router id="standard">
		<route frontName="examples" id="examples">
			<module name="MundiPagg_MundiPagg"/>
		</route>
		<route frontName="mundipagg" id="mundipagg">
			<module name="MundiPagg_MundiPagg"/>
		</route>
	</router>
</config>