.git
.github/workflows
.github/CODEOWNERS
.github/ISSUE_TEMPLATE
.github/PULL_REQUEST_TEMPLATE
*.md
docker-compose*.yml
.env
.env.*
auth.json
var/cache
var/log
var/session
var/tmp
pub/static/*
pub/media/*
generated/*
node_modules
