<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * @author      Open Source Team
 * @copyright   2021 Pagar.me (https://pagar.me)
 * @license     https://pagar.me Copyright
 *
 * @link        https://pagar.me
 */
-->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/9.5.28/phpunit.xsd"
         colors="true"
        >
    <testsuite name="Pagarme">
        <directory suffix="Test.php">Test/Unit</directory>
    </testsuite>
    <coverage pathCoverage="false">
        <include>
            <directory suffix=".php">./*</directory>
        </include>
        <exclude>
            <directory suffix=".php">./Test/</directory>
        </exclude>
        <report>
            <clover outputFile="clover.xml"/>
        </report>
    </coverage>
</phpunit>
