.select-product {
    margin: 15px 10px;
}

.products-wrapper {
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.product_search,
#pagarme-recipients-form .recipient-form-inputs {
    -webkit-appearance: none;
    background-color: #fff;
    border: 1px solid #adadad;
    border-radius: 1px;
    box-shadow: none;
    color: #303030;
    font-size: 1.4rem;
    font-weight: 400;
    height: auto;
    line-height: 1.36;
    transition: border-color .1s linear;
    vertical-align: baseline;
    margin-left: 10px;
}

.product_search {
    padding: .6rem 1rem .6rem;
    width: 15%;
}

#pagarme-recipients-form .recipient-form-inputs {
    width: 50%;
}

.table-products {
    display: none;
}

.info-bundle {
    background: #f8f8f8;
    border: 2px solid #ccc;
}

.info-bundle .info-bundle-header{
    font-size: 2rem;
    font-weight: 400;
    line-height: 1;
    padding: 1.6rem 4rem 1.6rem 3.8rem;
}

.ui-autocomplete.ui-menu .ui-menu-item {
    padding: 3px;
}

.ui-autocomplete.ui-menu .ui-menu-item a.ui-corner-all{
    text-decoration: none;
}

.ui-autocomplete.ui-menu .ui-menu-item a.ui-state-focus{
    background-color: transparent!important;
    border: none;
    color: #007bdb;
}

table.table-cycles {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width:50%
}

.table-cycles td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.error-message {
    margin: 10px 0;
    color: red;
    font-size: 10px;
    display: none;
}

#pagarme-recipients-form [data-section] {
    display: none;
}

#pagarme-recipients-form .recipient-form-inputs:focus {
    border-color: #8fb5cf;
    box-shadow: 0 0 .5em rgba(10, 10, 10, 0.25);
}

#pagarme-recipients-form .recipient-form-inputs:not(.admin__control-select) {
    padding: .6rem 1rem .6rem;
}

#pagarme-recipients-form h3 {
    display: inline;
}

#pagarme-recipients-form .recipient-block-info {
    margin: 0 0 2em;
    font-style: italic;
}

#pagarme-recipients-form .readonly,
#pagarme-recipients-form [readonly] {
    background: #eee;
    pointer-events: none;
    touch-action: none;
}

#pagarme-recipients-form .message.message-error.error {
    display: none;
}

.pagarme-recipient-modal header {
    padding-bottom: 2.5rem;
}

.pagarme-recipient-modal .modal-inner-wrap {
     max-width: 520px;
 }

.pagarme-recipient-modal p {
    margin-bottom: 1.5em;
}

.pagarme-recipient-modal *:last-child {
    margin-bottom: .5em;
}

.pagarme-alert-text {
    font-weight: bold;
    color: #cd0909;
}

.data-grid td .action-menu-item.kyc-validation:link,
.data-grid td .action-menu-item.kyc-validation:visited,
.data-grid td .action-menu-item.kyc-validation:hover,
.data-grid td .action-menu-item.kyc-validation:active {
    text-decoration: none;
    cursor: pointer;
}

.data-grid td .kyc-validation-status {
    background: #000 none repeat scroll 0 0;
    border: 1px solid #000;
    display: block;
    font-weight: bold;
    line-height: 17px;
    padding: 0 3px;
    text-align: center;
}

.data-grid td .kyc-validation-status.recipient-status-waiting_for_analysis {
    background-color: #fff7d6;
    border-color: #974f0c;
    color: #974f0c;
}

.data-grid td .recipient-status-active {
    background-color: #d0e5a9;
    border-color: #5b8116;
    color: #185b00;
}

.data-grid td .recipient-status-registered {
    background-color: #f1f2f4;
    border-color: #42526e;
    color: #42526e;
}

.data-grid td .recipient-status-disapproved,
.data-grid td .recipient-status-suspended,
.data-grid td .recipient-status-blocked,
.data-grid td .recipient-status-inactive  {
    background-color: #f9d4d4;
    border-color: #e22626;
    color: #e22626;
}

.pagarme-recipient-modal .kyc-link-container {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    margin-bottom: 2rem;
}
.pagarme-recipient-modal #kyc-link {
    width: calc(100% - 10rem);
    height: 5rem;
    padding: 1rem 1rem;
    border: 1px solid #adadad;
    border-right: 0;
    border-radius: 6px 0 0 6px;
}

.pagarme-recipient-modal #kyc-copy-button {
    width: 10rem;
    height: 5rem;
    border-radius: 0 6px 6px 0;
}

.pagarme-recipient-modal #kyc-copy-message {
    display: none;
    margin: .25rem 0 0 .25rem;
}

.pagarme-recipient-modal #kyc-copy-message.success {
    color: #35a335;
}

.pagarme-recipient-modal #kyc-copy-message.error {
    color: #cd0909;
}

/*
 * Jquery UI Fix
 */
.ui-datepicker .ui-datepicker-title select:first-child {
    margin-right: 6%;
}

.ui-datepicker .ui-datepicker-title select:last-child {
    margin-right: 0;
}
