<?xml version="1.0"?>
<!--
/**
 * @author      MundiPagg Embeddables Team <embeddables@mundipagg.com>
 * @copyright   2017 MundiPagg (http://www.mundipagg.com)
 * @license     http://www.mundipagg.com Copyright
 *
 * @link        http://www.mundipagg.com
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <mundipagg>
            <mundipagg>
                <sandbox_url>https://sandbox.mundipaggone.com</sandbox_url>
                <production_url>https://transactionv2.mundipaggone.com</production_url>
            </mundipagg>
        </mundipagg>
        <payment>
            <mundipagg_billet>
                <active>1</active>
                <model>MundiPaggBilletRemoteMethodAdapter</model>
                <order_status>pending_payment</order_status>
                <payment_action>authorize</payment_action>
                <title>MundiPagg Billet</title>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_use_checkout>1</can_use_checkout>
                <is_gateway>1</is_gateway>
                <sort_order>1</sort_order>
                <can_initialize>1</can_initialize>
                <expiration_days>5</expiration_days>
            </mundipagg_billet>

            <mundipagg_creditcard>
                <active>1</active>
                <model>MundiPaggCreditCardsRemoteMethodAdapter</model>
                <order_status>pending_payment</order_status>
                <payment_action>authorize_capture</payment_action>
                <title>MundiPagg Credit Card</title>
                <can_authorize>1</can_authorize>
                <can_capture_partial>1</can_capture_partial>
                <can_capture>1</can_capture>
                <can_refund>1</can_refund>
                <can_refund_partial_per_invoice>1</can_refund_partial_per_invoice>
                <can_use_checkout>1</can_use_checkout>
                <cctypes>VI,MC</cctypes>
                <is_gateway>1</is_gateway>
                <sort_order>1</sort_order>
                <installments_active>0</installments_active>
                <installments_interest_by_issuer>0</installments_interest_by_issuer>
                <installments_number>12</installments_number>
                <installments_is_with_interest>1</installments_is_with_interest>
                <installment_min_amount>10.00</installment_min_amount>
                <installments_interest_rate>10</installments_interest_rate>
                <installments_max_without_interest>6</installments_max_without_interest>
                <can_initialize>1</can_initialize>
                <allow_multiple_address>0</allow_multiple_address>
            </mundipagg_creditcard>
            <mundipagg_billet_creditcard>
                <active>1</active>
                <model>MundiPaggBilletCreditCardsRemoteMethodAdapter</model>
                <order_status>pending_payment</order_status>
                <payment_action>authorize</payment_action>
                <title>MundiPagg Billet Credit Card</title>
                <can_authorize>1</can_authorize>
                <can_capture_partial>1</can_capture_partial>
                <can_capture>1</can_capture>
                <can_refund>1</can_refund>
                <can_refund_partial_per_invoice>1</can_refund_partial_per_invoice>
                <can_use_checkout>1</can_use_checkout>
                <cctypes>VI,MC</cctypes>
                <is_gateway>1</is_gateway>
                <sort_order>1</sort_order>
                <installments_active>0</installments_active>
                <installments_interest_by_issuer>0</installments_interest_by_issuer>
                <installments_number>12</installments_number>
                <installments_is_with_interest>1</installments_is_with_interest>
                <installment_min_amount>10.00</installment_min_amount>
                <installments_interest_rate>10</installments_interest_rate>
                <installments_max_without_interest>6</installments_max_without_interest>
                <can_initialize>1</can_initialize>
                <allow_multiple_address>0</allow_multiple_address>
            </mundipagg_billet_creditcard>
            <mundipagg_two_creditcard>
                <active>1</active>
                <model>MundiPaggTwoCreditCardRemoteMethodAdapter</model>
                <order_status>pending_payment</order_status>
                <payment_action>authorize</payment_action>
                <title>MundiPagg Two Credit Cards</title>
                <can_authorize>1</can_authorize>
                <can_capture_partial>1</can_capture_partial>
                <can_capture>1</can_capture>
                <can_refund>1</can_refund>
                <can_refund_partial_per_invoice>1</can_refund_partial_per_invoice>
                <can_use_checkout>1</can_use_checkout>
                <cctypes>VI,MC</cctypes>
                <is_gateway>1</is_gateway>
                <sort_order>1</sort_order>
                <installments_active>0</installments_active>
                <installments_interest_by_issuer>0</installments_interest_by_issuer>
                <installments_number>12</installments_number>
                <installments_is_with_interest>1</installments_is_with_interest>
                <installment_min_amount>10.00</installment_min_amount>
                <installments_interest_rate>10</installments_interest_rate>
                <installments_max_without_interest>6</installments_max_without_interest>
                <can_initialize>1</can_initialize>
                <allow_multiple_address>0</allow_multiple_address>
            </mundipagg_two_creditcard>
            <mundipagg_voucher>
                <active>1</active>
                <model>MundiPaggVoucherRemoteMethodAdapter</model>
                <order_status>pending_payment</order_status>
                <payment_action>authorize_capture</payment_action>
                <title>MundiPagg Voucher</title>
                <can_authorize>1</can_authorize>
                <can_capture_partial>1</can_capture_partial>
                <can_capture>1</can_capture>
                <can_refund>1</can_refund>
                <can_refund_partial_per_invoice>1</can_refund_partial_per_invoice>
                <can_use_checkout>1</can_use_checkout>
                <cctypes>Alelo,Sodexo</cctypes>
                <is_gateway>1</is_gateway>
                <sort_order>1</sort_order>
                <installments_active>0</installments_active>
                <installments_interest_by_issuer>0</installments_interest_by_issuer>
                <installments_number>1</installments_number>
                <installments_is_with_interest>0</installments_is_with_interest>
                <installment_min_amount>0</installment_min_amount>
                <installments_interest_rate>0</installments_interest_rate>
                <installments_max_without_interest>0</installments_max_without_interest>
                <can_initialize>1</can_initialize>
                <allow_multiple_address>0</allow_multiple_address>
            </mundipagg_voucher>
        </payment>
    </default>
</config>
