<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="payment_method_assign_data_mundipagg_creditcard">
        <observer name="mundipagg_payment_method_assign_data_mundipagg_creditcard" instance="MundiPagg\MundiPagg\Observer\CreditCardDataAssignObserver" />
    </event>
    <event name="payment_method_assign_data_mundipagg_billet_creditcard">
        <observer name="mundipagg_payment_method_assign_data_mundipagg_billet_creditcard" instance="MundiPagg\MundiPagg\Observer\BilletCreditCardDataAssignObserver" />
    </event>
    <event name="sales_order_place_before">
        <observer name="mundipagg_payment_sales_order_place_before_mundipagg_creditcard" instance="MundiPagg\MundiPagg\Observer\CreditCardOrderPlaceBeforeObserver" />
    </event>
    <event name="payment_method_assign_data_mundipagg_two_creditcard">
        <observer name="mundipagg_payment_method_assign_data_mundipagg_two_creditcard" instance="MundiPagg\MundiPagg\Observer\TwoCreditCardDataAssignObserver" />
    </event>
    <event name="sales_order_place_after">
        <observer name="mundipagg_payment_method_mundipagg_credit_card_after_place_order" instance="MundiPagg\MundiPagg\Observer\SalesOrderPlaceAfter" />
    </event>
    <event name="admin_system_config_changed_section_payment">
        <observer name="Mundipagg_DataValidateAdmin" instance="MundiPagg\MundiPagg\Observer\DataValidateAdmin" />
    </event>
    <event name="adminhtml_customer_prepare_save">
        <observer name="mundipagg_payment_adminhtml_customer_prepare_save" instance="MundiPagg\MundiPagg\Observer\AdminCustomerBeforeSave" />
    </event>
    <event name="customer_address_save_before">
        <observer name="mundipagg_customer_address_before_save_viv_observer" instance="\MundiPagg\MundiPagg\Observer\CustomerAddressSaveBefore" />
    </event>
    <event name="payment_method_is_active">
        <observer name="custom_payment" instance="MundiPagg\MundiPagg\Observer\PaymentMethodAvailable" />
    </event>
</config>