<div class="field amount required amount-container">
    <label class="label">
        <span><!-- ko i18n: 'Valor cobrado boleto'--><!-- /ko --></span>
    </label>
    <div class="control">
        <input type="text"
               autocomplete="off"
               style="width: 225px;"
               class="input-text cc_amount"
               name="payment[bcc_amount]"
               value=""
        />
    </div>
</div>

<div class="checkout-text-block">
    <span><!-- ko i18n: getText()--><!-- /ko --></span>
</div>
<style>
    .amount-container {
        display: none;
    }
</style>