<br>
<div class="field choice show_multibuyer_box">
    <input type="checkbox" class="checkbox show_multibuyer" name="payment[show_multibuyer]" />
    <label class="label" for="payment[show_multibuyer]" >
        <span><!-- ko i18n: 'Fill data for other buyer'--><!-- /ko --></span>
    </label>
</div>

<h4 class="multibuyer"><!-- ko i18n: 'Fill data for other buyer'--><!-- /ko --></h4>
<div class="field  multibuyer required">
    <label class="label" for="multibuyer_firstname">
        <span><!-- ko i18n: 'Firstname'--><!-- /ko --></span>
    </label>
    <div class="control">
        <input type="text" class="input-text multibuyer_firstname" name="payment[multibuyer_firstname]" maxlength="25">
    </div>
    <div class="field-error" style="display: none">
        <span ><!-- ko i18n: 'This is a required field'--><!-- /ko --></span>
    </div>
</div>

<div class="field multibuyer required">
    <label class="label" for="multibuyer_lastname">
        <span><!-- ko i18n: 'Lastname'--><!-- /ko --></span>
    </label>
    <div class="control">
        <input type="text" class="input-text multibuyer_lastname" name="payment[multibuyer_lastname]" maxlength="39">
    </div>
    <div class="field-error" style="display: none">
        <span ><!-- ko i18n: 'This is a required field'--><!-- /ko --></span>
    </div>
</div>

<div class="field multibuyer required">
    <label class="label" for="multibuyer_email">
        <span><!-- ko i18n: 'E-mail'--><!-- /ko --></span>
    </label>
    <div class="control">
        <input type="text" class="input-text multibuyer_email" name="payment[multibuyer_email]" maxlength="64">
    </div>
    <div class="field-error" style="display: none">
        <span ><!-- ko i18n: 'This is a required field'--><!-- /ko --></span>
    </div>
</div>

<div class="field multibuyer">
    <label class="label" for="multibuyer_home_phone">
        <span><!-- ko i18n: 'Home phone'--><!-- /ko --></span>
    </label>
    <div class="control">
        <input type="text" class="input-text multibuyer_home_phone" name="payment[multibuyer_home_phone]" maxlength="16">
    </div>
    <div class="field-error" style="display: none">
        <span ><!-- ko i18n: 'This is a required field'--><!-- /ko --></span>
    </div>
</div>

<div class="field multibuyer required">
    <label class="label" for="multibuyer_mobile_phone">
        <span><!-- ko i18n: 'Mobile phone'--><!-- /ko --></span>
    </label>
    <div class="control">
        <input type="text" class="input-text multibuyer_mobile_phone" name="payment[multibuyer_mobile_phone]" maxlength="16">
    </div>
    <div class="field-error" style="display: none">
        <span ><!-- ko i18n: 'This is a required field'--><!-- /ko --></span>
    </div>
</div>

<div class="field multibuyer required">
    <label class="label" for="multibuyer_zipcode">
        <span><!-- ko i18n: 'Zipcode'--><!-- /ko --></span>
    </label>
    <div class="control">
        <input type="text" class="input-text multibuyer_zipcode" name="payment[multibuyer_zipcode]" maxlength="16">
    </div>
    <div class="field-error" style="display: none">
        <span ><!-- ko i18n: 'This is a required field'--><!-- /ko --></span>
    </div>
</div>

<div class="field multibuyer required">
    <label class="label" for="multibuyer_lastname">
        <span><!-- ko i18n: 'Document'--><!-- /ko --></span>
    </label>
    <div class="control">
        <input type="text" class="input-text multibuyer_document" name="payment[multibuyer_document]" maxlength="16">
    </div>
    <div class="field-error" style="display: none">
        <span ><!-- ko i18n: 'This is a required field'--><!-- /ko --></span>
    </div>
</div>

<div class="field multibuyer required">
    <label class="label" for="multibuyer_street">
        <span><!-- ko i18n: 'Street'--><!-- /ko --></span>
    </label>
    <div class="control">
        <input type="text" class="input-text multibuyer_street" name="payment[multibuyer_street]" maxlength="64">
    </div>
    <div class="field-error" style="display: none">
        <span ><!-- ko i18n: 'This is a required field'--><!-- /ko --></span>
    </div>
</div>

<div class="field multibuyer required">
    <label class="label" for="multibuyer_number">
        <span><!-- ko i18n: 'Number'--><!-- /ko --></span>
    </label>
    <div class="control">
        <input type="text" class="input-text multibuyer_number" name="payment[multibuyer_number]" maxlength="15">
    </div>
    <div class="field-error" style="display: none">
        <span ><!-- ko i18n: 'This is a required field'--><!-- /ko --></span>
    </div>
</div>

<div class="field multibuyer">
    <label class="label" for="multibuyer_complement">
        <span><!-- ko i18n: 'Complement'--><!-- /ko --></span>
    </label>
    <div class="control">
        <input type="text" class="input-text multibuyer_complement" name="payment[multibuyer_complement]" maxlength="64">
    </div>
    <div class="field-error" style="display: none">
        <span ></span>
    </div>
</div>

<div class="field multibuyer required">
    <label class="label" for="multibuyer_neighborhood">
        <span><!-- ko i18n: 'Neighborhood'--><!-- /ko --></span>
    </label>
    <div class="control">
        <input type="text" class="input-text multibuyer_neighborhood" name="payment[multibuyer_neighborhood]" maxlength="64">
    </div>
    <div class="field-error" style="display: none">
        <span ><!-- ko i18n: 'This is a required field'--><!-- /ko --></span>
    </div>
</div>

<div class="field multibuyer required">
    <label class="label" for="multibuyer_city">
        <span><!-- ko i18n: 'City'--><!-- /ko --></span>
    </label>
    <div class="control">
        <input type="text" class="input-text multibuyer_city" name="payment[multibuyer_city]" maxlength="64">
    </div>
    <div class="field-error" style="display: none">
        <span ><!-- ko i18n: 'This is a required field'--><!-- /ko --></span>
    </div>
</div>

<div class="field multibuyer required">
    <label class="label" for="multibuyer_state">
        <span><!-- ko i18n: 'State/Province'--><!-- /ko --></span>
    </label>
    <div class="control">
        <select class="input-text multibuyer_state" name="payment[multibuyer_state]">
        </select>
    </div>
    <div class="field-error" style="display: none">
        <span ><!-- ko i18n: 'This is a required field'--><!-- /ko --></span>
    </div>
</div>

<!-- Init payment method at last template -->
<div afterRender="initPaymentMethod()"></div>