<br>
<h4 class="new" style="display: none;">Preencher dados de outro comprador</h4>
<div class="field multibuyer_firstname multibuyer required new">
    <label class="label" for="multibuyer_firstname">
        <span><!-- ko i18n: 'Nome'--><!-- /ko --></span>
    </label>
    <div class="control">
        <input type="text" class="input-text" name="payment[multibuyer_firstname]">
    </div>
</div>

<div class="field multibuyer_lastname multibuyer required new">
    <label class="label" for="multibuyer_lastname">
        <span><!-- ko i18n: 'Sobrenome'--><!-- /ko --></span>
    </label>
    <div class="control">
        <input type="text" class="input-text" name="payment[multibuyer_lastname]">
    </div>
</div>

<div class="field multibuyer_email multibuyer required new">
    <label class="label" for="multibuyer_email">
        <span><!-- ko i18n: 'E-mail'--><!-- /ko --></span>
    </label>
    <div class="control">
        <input type="text" class="input-text" name="payment[multibuyer_email]">
    </div>
</div>

<div class="field multibuyer_zipcode multibuyer required new">
    <label class="label" for="multibuyer_zipcode">
        <span><!-- ko i18n: 'CEP'--><!-- /ko --></span>
    </label>
    <div class="control">
        <input type="text" class="input-text" name="payment[multibuyer_zipcode]">
    </div>
</div>

<div class="field multibuyer_document multibuyer required new">
    <label class="label" for="multibuyer_lastname">
        <span><!-- ko i18n: 'CPF/CNPJ'--><!-- /ko --></span>
    </label>
    <div class="control">
        <input type="text" class="input-text" name="payment[multibuyer_document]">
    </div>
</div>

<div class="field multibuyer_street multibuyer required new">
    <label class="label" for="multibuyer_street">
        <span><!-- ko i18n: 'Rua'--><!-- /ko --></span>
    </label>
    <div class="control">
        <input type="text" class="input-text" name="payment[multibuyer_street]">
    </div>
</div>

<div class="field multibuyer_number multibuyer required new">
    <label class="label" for="multibuyer_number">
        <span><!-- ko i18n: 'Número'--><!-- /ko --></span>
    </label>
    <div class="control">
        <input type="text" class="input-text" name="payment[multibuyer_number]">
    </div>
</div>

<div class="field multibuyer_complement multibuyer new">
    <label class="label" for="multibuyer_complement">
        <span><!-- ko i18n: 'Complemento'--><!-- /ko --></span>
    </label>
    <div class="control">
        <input type="text" class="input-text" name="payment[multibuyer_complement]">
    </div>
</div>

<div class="field multibuyer_neighborhood multibuyer required new">
    <label class="label" for="multibuyer_neighborhood">
        <span><!-- ko i18n: 'Bairro'--><!-- /ko --></span>
    </label>
    <div class="control">
        <input type="text" class="input-text" name="payment[multibuyer_neighborhood]">
    </div>
</div>

<div class="field multibuyer_city multibuyer required new">
    <label class="label" for="multibuyer_city">
        <span><!-- ko i18n: 'Cidade'--><!-- /ko --></span>
    </label>
    <div class="control">
        <input type="text" class="input-text" name="payment[multibuyer_city]">
    </div>
</div>

<div class="field multibuyer_state multibuyer required new">
    <label class="label" for="multibuyer_state">
        <span><!-- ko i18n: 'Estado'--><!-- /ko --></span>
    </label>
    <div class="control">
        <input type="text" class="input-text" name="payment[multibuyer_state]">
    </div>
</div>