<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
	<menu>
		<add id="Pagarme::top_level" module="Pagarme_Pagarme" resource="Magento_Backend::content" sortOrder="9999" title="Pagar.me"/>
		<add id="Pagarme::pagarme_pagarme_label" module="Pagarme_Pagarme" parent="Pagarme::top_level" resource="Magento_Config::config" sortOrder="1" title="Configurations"/>
		<add action="pagarme_pagarme/charges/index" id="Pagarme::pagarme_pagarme_charges" module="Pagarme_Pagarme" parent="Pagarme::pagarme_pagarme_label" resource="Magento_Backend::content" sortOrder="20" title="Charges Pagar.me"/>
		<add action="pagarme_pagarme/cards/index" id="Pagarme::pagarme_pagarme_cards" module="Pagarme_Pagarme" parent="Pagarme::pagarme_pagarme_label" resource="Magento_Backend::content" sortOrder="10" title="Cards Pagar.me"/>
		<add action="adminhtml/system_config/edit/section/payment" id="Pagarme::pagarme_pagarme_payment_methods" module="Pagarme_Pagarme" parent="Pagarme::pagarme_pagarme_label" resource="Magento_Config::config" sortOrder="1" title="Payment Methods"/>

		<add id="Pagarme::pagarme_pagarme_recurrence" module="Pagarme_Pagarme" parent="Pagarme::top_level" resource="Magento_Config::config" sortOrder="30" title="Recurrence"/>
		<add action="pagarme_pagarme/recurrenceproducts/index" id="Pagarme::pagarme_pagarme_recurrenceproducts_index" module="Pagarme_Pagarme" parent="Pagarme::pagarme_pagarme_recurrence" resource="Magento_Config::config" sortOrder="1" title="Recurrence Products"/>
		<add action="pagarme_pagarme/plans/index" id="Pagarme::pagarme_pagarme_plans_index" module="Pagarme_Pagarme" parent="Pagarme::pagarme_pagarme_recurrence" resource="Magento_Config::config" sortOrder="1" title="Plans"/>
		<add action="pagarme_pagarme/subscriptions/index" id="Pagarme::pagarme_pagarme_subscriptions_index" module="Pagarme_Pagarme" parent="Pagarme::pagarme_pagarme_recurrence" resource="Magento_Config::config" sortOrder="1" title="Subscriptions"/>
	</menu>
</config>
