<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
	<menu>
		<add id="Pagarme::pagarme" module="Pagarme_Pagarme" resource="Magento_Backend::content" sortOrder="80" title="Pagar.me"/>
		<add id="Pagarme::pagarme_label" module="Pagarme_Pagarme" parent="Pagarme::pagarme" resource="Magento_Config::config" sortOrder="10" title="Configurations" translate="title" />
		<add action="pagarme_pagarme/charges/index" id="Pagarme::pagarme_charges" module="Pagarme_Pagarme" parent="Pagarme::pagarme_label" resource="Magento_Backend::content" sortOrder="20" title="Charges Pagar.me" translate="title" />
		<add action="pagarme_pagarme/cards/index" id="Pagarme::pagarme_cards" module="Pagarme_Pagarme" parent="Pagarme::pagarme_label" resource="Magento_Backend::content" sortOrder="10" title="Cards Pagar.me" translate="title" />
		<add action="adminhtml/system_config/edit/section/payment" id="Pagarme::pagarme_payment_methods" module="Pagarme_Pagarme" parent="Pagarme::pagarme_label" resource="Magento_Config::config" sortOrder="1" title="Payment Methods" translate="title" />

		<add id="Pagarme::pagarme_pagarme_marketplace" module="Pagarme_Pagarme" parent="Pagarme::pagarme" resource="Magento_Config::config" sortOrder="20"  dependsOnConfig="pagarme_pagarme/marketplace/active" title="Marketplace" translate="title" />
		<add action="pagarme_pagarme/recipients/index" id="Pagarme::pagarme_pagarme_recipients_index" module="Pagarme_Pagarme" parent="Pagarme::pagarme_pagarme_marketplace" resource="Magento_Config::config" sortOrder="1" title="Recipients" translate="title" />

		<add id="Pagarme::pagarme_recurrence" module="Pagarme_Pagarme" parent="Pagarme::pagarme" resource="Magento_Config::config" sortOrder="30" title="Recurrence" translate="title" />
		<add action="pagarme_pagarme/recurrenceproducts/index" id="Pagarme::pagarme_recurrenceproducts_index" module="Pagarme_Pagarme" parent="Pagarme::pagarme_recurrence" resource="Magento_Config::config" sortOrder="1" title="Recurrence Products" translate="title" />
		<add action="pagarme_pagarme/plans/index" id="Pagarme::pagarme_plans_index" module="Pagarme_Pagarme" parent="Pagarme::pagarme_recurrence" resource="Magento_Config::config" sortOrder="1" title="Plans" translate="title" />
		<add action="pagarme_pagarme/subscriptions/index" id="Pagarme::pagarme_subscriptions_index" module="Pagarme_Pagarme" parent="Pagarme::pagarme_recurrence" resource="Magento_Config::config" sortOrder="1" title="Subscriptions" translate="title" />

		<!-- Add recurrence items in catalog menu -->
		<add id="Pagarme::pagarme_recurrence_catalog" module="Pagarme_Pagarme" parent="Magento_Catalog::catalog" resource="Magento_Config::config" dependsOnConfig="pagarme_pagarme/recurrence/active" sortOrder="30" title="Recurrence" translate="title" />
		<add action="pagarme_pagarme/recurrenceproducts/index" id="Pagarme::pagarme_recurrenceproducts_catalog" module="Pagarme_Pagarme" parent="Pagarme::pagarme_recurrence_catalog" resource="Magento_Config::config" sortOrder="1" title="Recurrence Products" translate="title" />
		<add action="pagarme_pagarme/plans/index" id="Pagarme::pagarme_plans_catalog" module="Pagarme_Pagarme" parent="Pagarme::pagarme_recurrence_catalog" resource="Magento_Config::config" sortOrder="1" title="Plans" translate="title" />

        <!-- Add recurrence items in order menu -->
        <add id="Pagarme::pagarme_recurrence_order" module="Pagarme_Pagarme" parent="Magento_Sales::sales" resource="Magento_Config::config" dependsOnConfig="pagarme_pagarme/recurrence/active" sortOrder="30" title="Recurrence" translate="title" />
        <add action="pagarme_pagarme/subscriptions/index" id="Pagarme::pagarme_subscriptions_order" module="Pagarme_Pagarme" parent="Pagarme::pagarme_recurrence_order" resource="Magento_Config::config" sortOrder="1" title="Subscriptions" translate="title" />
	</menu>
</config>
