<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="payment_method_assign_data_mundipagg_creditcard">
        <observer name="mundipagg_payment_method_assign_data_mundipagg_creditcard" instance="MundiPagg\MundiPagg\Observer\CreditCardDataAssignObserver" />
    </event>
    <event name="payment_method_assign_data_mundipagg_billet_creditcard">
        <observer name="mundipagg_payment_method_assign_data_mundipagg_billet_creditcard" instance="MundiPagg\MundiPagg\Observer\BilletCreditCardDataAssignObserver" />
    </event>
    <event name="sales_order_place_before">
        <observer name="mundipagg_payment_sales_order_place_before_mundipagg_creditcard" instance="MundiPagg\MundiPagg\Observer\CreditCardOrderPlaceBeforeObserver" />
    </event>
    <event name="payment_method_assign_data_mundipagg_two_creditcard">
        <observer name="mundipagg_payment_method_assign_data_mundipagg_two_creditcard" instance="MundiPagg\MundiPagg\Observer\TwoCreditCardDataAssignObserver" />
    </event>
</config>