name: CD STG AND PHP8

on:
  pull_request:
    branches: ["stg"]
    types: closed

permissions:
  contents: read
  actions: read
  pull-requests: read

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
    
jobs:
  call-workflow-cd:
    uses: pagarme/magento2/.github/workflows/cd_reusable.yml@master
    with:
      matrix_tags: "['stg', 'php8']"
    secrets:
      inherit